<li>
	{{name}}

	<button class="change-devour square_btn" data-id="{{id}}" data-isdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}Poop{{/if}}
	</button>

	<button class="delete-burger square_btn" data-id="{{this.id}}">DELETE!</button>
</li>